#yahooのAPIkey情報
/CharacterConversion/private/conf/application.ini
/CharacterConversion/private/conf/application.ini.production

#googleのAPIkey情報
/FivaridMap/private/conf/application.ini
/FivaridMap/private/conf/application.ini.production