body {
    font-size: 1.0rem;
    margin: 0;
    display: grid;
    grid-template:
        "header header header " 5.0rem
        ".....  center  .....  " 1fr
        ".....  ...... ...... " 2.0rem
        "footer footer footer " 10.5rem
        /0rem 1fr 0rem;
}

main {
    font-size: 1.0rem;
    margin: 0;
    display: grid;
    grid-template:
        "welcome  "
        "About-me "
        "portfolio" 
        "work     " 
        "contact  " 10.0rem
}

main {
    grid-area: center;
    padding: 0;
    margin: 0;
}
/* nav {
    grid-area: left;
}
aside {
    grid-area: right;
} */
header {
    grid-area: header;
    /* background-color: #f7f6f5; */
    position: fixed;
    height:5.0rem;
    width: 100%;
    background-color: rgba(247,246,245,0.5);
}
header li{
    display: inline-block;
    font-size: 1.0rem;
    margin: 0 1.0rem 0 1.0rem ;
}

.welcome{
    min-height: 100vh;
}

.item-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.crescent-moon {
	width: 30px;
	height:30px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: -7px 0px 0px 5px #FFF450; /*横軸の位置、縦軸の位置、広がり、太さ */
}

.header-container {
    display: flex;

}

.container {
    display: flex;
    place-items: center;
    height: 100%;
}

.center {
    display: grid;
    place-items: center;
}

.welcom-page{
    /* height: 20.0rem; */
    background-color: #f5f5dc;
}

footer {
    grid-area: footer;
    background-color: #2b2b2b;
    color: aliceblue;
}

.welcom{
    height: 10;
}

.title{
    font-size: 5.0rem;
}

.title2{
    font-size: 2.0rem;
}

.photo {
    width: 20.0rem;
    height: 12.0rem;
    background-size:cover;
}

.link{
    display: block;
    width: 100%;
    height: 100%;
}

.work-name{
    display: grid;
    place-items: center;
    font-size: 1.5rem;
}

.my-works {
    font-size: 1.0rem;
    margin: 0;
    display: grid;
    grid-template:
        "..... ..... ..... ..... ....." 2.0rem
        "..... work1 ..... work2 ....." 12.0rem
        "..... ..... ..... ..... ....." 5.0rem
        "..... work3 ..... work4 ....." 12.0rem
        "..... ..... ..... ..... ....." 5.0rem
        /auto 20.0rem 3.0rem 20.0rem auto;
}

.work1 {
    grid-area: work1;
    padding: 0;
    margin: 0; 
}

.work2 {
    grid-area: work2;
    padding: 0;
    margin: 0;
}

.work3 {
    grid-area: work3;
    padding: 0;
    margin: 0;
}

.work4 {
    grid-area: work4;
    padding: 0;
    margin: 0;
}

.chart{
    width: 318;
    height: 318;
}

.header-pointer{
    cursor:pointer;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}