*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* 下記はなぜか一括で指定できないので親の指定を継承させる */
input , select , textarea , button {
	font-size: 100%;
	font-family: inherit;
}

html {
	font-size:62.5%;
}

body {
	margin: 0;
	padding: 0;
}

.center{
	display: grid;
	place-content: center;
}




.chengeCombination{
	/* width: 100%; */
	height: 40.0rem;
	background-color: #ffffff;
	/* margin:1.0rem 0 0.5rem 0; */
}

button {
	width:10.5rem;
	height: 3.5rem;
	font-size: 1.5rem;
	margin: 1.0rem 0;
}

.main {
	margin-left: 0.1rem;
	text-align: left;
	background-color: #e6e6e6;
	border:0.1rem solid #e6e6e6;
	width:100%; 
	z-index:-1;

}

.title-block {
	font-size: 2.8rem;
	border-bottom: solid #f6ba33;
	margin-bottom: 1.5rem;
}

form {
	width:100%;
}

section{
	margin: 0 auto;
	width: 95.0%;
	
}

.sentence-area {
	width: 100%;
	height: 400px;
	text-align: left;
	margin:1.0rem 0 0.5rem 0;
	font-size:1.6rem;
}

div{
	margin-left: 0;
}

.result {
	margin-top: 2.0rem;
	height: 40.0rem;
	overflow-y: scroll;
	background-color:#ffffff;
}

#output{
	margin-left: 1.0rem;
}

footer{
	height: 5.0rem;
	background-color: #000000;
	margin: 0 auto;
	width: 100%;
	/* text-align: center */
	display: flex;
	align-items: center;
}

footer span a {
	color:#ffffff;
}

footer span a:hover {
	opacity:0.5;
	/* color:red; */
}